body {
  height: 100%;
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 13px,
      rgba(0, 0, 0, 0.03) 13px,
      rgba(0, 0, 0, 0.03) 24px,
      transparent 24px,
      transparent 62px,
      rgba(0, 0, 0, 0.03) 62px,
      rgba(0, 0, 0, 0.03) 96px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 32px
    );
  background-size: 21px 21px;
}

.container {
  margin: o auto;
  border: thick dotted black;
  border-radius: 100px;
  max-width: 700px;
}
h1 {
  font-weight: 900;
  font-size: 55px;
}

h1,
h2,
h3 {
  font-family: monospace;
  text-align: center;
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.input-group {
  width: 70%;
  margin-left: 100px;
}

.btn {
  text-align: center;
  display: flex;
  justify-content: center;
}
h4 {
  text-align: center;
  font-family: monospace;
  font-size: 100px;
}
.element {
  display: flex;
  justify-content: center;
}

.buttonC,
.buttonF {
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 35px;
  font-family: monospace;
}

.btn-group-vertical,
h4 {
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
}

h6 {
  text-align: center;
}
ul {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  list-style: none;
}
.card {
  text-align: center;
  background: none;
  border: none;
}
.card-title {
  font-size: 30px;
}

.card-img-top {
  width: 100px;
  background: none;
}
.card-footer {
  background: none;
  border: none;
  font-size: 50px;
}

.link-dark {
  color: pink;
}
